<style>
    input[switch] {
        display: none;
    }
    label {
        margin-bottom: 0px;
        margin-right: 5px;
    }
    input[switch] + label {
        font-size: 1em;
        line-height: 1;
        width: 4rem;
        height: 2rem;
        background-color: #ddd;
        background-image: none;
        border-radius: 2rem;
        padding: 0.1666666667rem;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        position: relative;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset;
        font-family: inherit;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    input[switch] + label:before {
        /* Label */
        text-transform: uppercase;
        color: #b7b7b7;
        content: attr(data-off-label);
        display: block;
        font-family: inherit;
        font-family: FontAwesome, inherit;
        font-weight: 500;
        font-size: 0.7rem;
        line-height: 1.74rem;
        position: absolute;
        right: 0.2166666667rem;
        margin: 0.2166666667rem;
        top: 0;
        text-align: center;
        min-width: 1.6666666667rem;
        overflow: hidden;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    input[switch] + label:after {
        /* Slider */
        content: '';
        position: absolute;
        left: 0.1666666667rem;
        background-color: #f7f7f7;
        box-shadow: none;
        border-radius: 2rem;
        height: 1.6666666667rem;
        width: 1.6666666667rem;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    input[switch]:checked + label {
        background-color: lightblue;
        background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.2));
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3) inset;
    }
    input[switch]:checked + label:before {
        color: #fff;
        content: attr(data-on-label);
        right: auto;
        left: 0.2166666667rem;
    }
    input[switch]:checked + label:after {
        left: 2.1666666667rem;
        background-color: #f7f7f7;
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    }

    input[switch="bool"] + label {
        background-color: #ee6562;
    }
    input[switch="bool"] + label:before {
        color: #fff !important;
    }
    input[switch="bool"]:checked + label {
        background-color: #BCE954;
    }
    input[switch="bool"]:checked + label:before {
        color: #fff !important;
    }

    input[switch="default"]:checked + label {
        background-color: #a2a2a2;
    }
    input[switch="default"]:checked + label:before {
        color: #fff !important;
    }

    input[switch="success"]:checked + label {
        background-color: #BCE954;
    }
    input[switch="success"]:checked + label:before {
        color: #fff !important;
    }

    input[switch="warning"]:checked + label {
        background-color: gold;
    }
    input[switch="warning"]:checked + label:before {
        color: #fff !important;
    }
</style>
<div class="option-box">
    <h4>KPI's</h4>
    <table>
        <tbody>
            <tr data-ng-repeat="variable in KPI">
                <form ng-init="setKPIChecked()">
                    <td>
                        <input type="checkbox" ng-checked="variable.checked" id="kpi-{{ variable.name }}"
                               ng-change="changeKPI(variable.name, checked)"  ng-model="checked" switch="bool">
                        <label for="kpi-{{ variable.name }}" data-on-label="On" data-off-label="Off"></label>
                    </td>
                    <td>
                        {{ variable.label }}
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
<div class="option-box">
    <h4>Process-instance variables</h4>
    <table>
        <tbody>
        <tr data-ng-repeat="variable in processVariables">
            <form ng-init="setVariableChecked()">
                <td>
                    <input type="checkbox" ng-checked="variable.checked" id="variable-{{ variable.name }}"
                           ng-change="changeVar(variable.name, checked)"  ng-model="checked" switch="bool">
                    <label for="variable-{{ variable.name }}" data-on-label="On" data-off-label="Off"></label>
                </td>
                <td>
                    {{ variable.name }}
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
<div class="option-box">
    <div class="form-group">
        <label for="selectVariablesToShow">Number of variables to show</label>
        <select class="form-control" id="selectVariablesToShow" ng-change="changeVarNum(numValue)" ng-model="numValue" ng-init="setNumValue()">
            <option>0</option>
            <option data-ng-repeat="variable in processVariables">{{$index+1}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="pollingRate">Polling refresh rate</label><br>
        Every <input type="number" id="pollingRate" ng-change="changeVarRefreshRate(refreshRate)" ng-model="refreshRate" ng-init="setRefreshRate()" min="0"/> seconds.
    </div>
</div>
