<div class="option-box">
    <h4>Select KPI's to show</h4>
    <form data-ng-repeat="variable in KPI">
        <input type="checkbox" ng-checked="variable.checked"
               ng-change="changeKPI(variable.name, checked)"  ng-model="checked"> {{ variable.name }}<br>
    </form>
</div>
<div class="option-box">
    <h4>Select process-instance variables to show</h4>
    <form data-ng-repeat="variable in processVariables" ng-init="setVariableChecked()">
        <input type="checkbox" ng-checked="variable.checked"
               ng-change="changeVar(variable.name, checked)"  ng-model="checked"> {{ variable.name }}<br>
    </form>
</div>
<div class="option-box">
    <div>
        <h4>Select number of variables to show</h4>
        <input type="number" ng-change="changeVarNum(numValue)" ng-model="numValue" ng-init="setNumValue()" min="0"/>
    </div>
    <div>
        <h4>Polling refresh rate</h4>
        <input type="number" ng-change="changeVarRefreshRate(refreshRate)" ng-model="refreshRate" ng-init="setRefreshRate()" min="0"/>
    </div>
</div>
