/* 
#########################################
|----------- Overlay styling -----------|
|      CSS of the overlay styling       |
#########################################
*/

.custom-overlay {
    font-size: 9px;
    display: flex;
    flex-direction: column;
}

.custom-overlay ul {
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0 0 0 0;
    width: 100%;
}

.custom-overlay > ul:last-child {
    margin-bottom: 0;
}

.custom-overlay b {
    color: red;
}

.option-box {
    display:inline-block;
    width:32%;
    vertical-align: top;
}

/* 
##########################################
|----------- Duration styling -----------|
|      CSS of the duration styling       |
##########################################
*/

.durationText {
    font-size: 10px;
    width: 80px;
}

.overviewDurationText {
    width: 120px;
    font-size: 14px;
    border-style: groove;
    border-radius: 1px;
    padding: 5px;
    text-align: center;
}

/* 
###########################################################
|----------------- Bullet Graph styling ------------------|
|             CSS of the bullet graph styling.            |
|        CSS styling functions which are needed for       |
|           the bullet graphs from github:                |
| https://gist.github.com/mbostock/4061961#file-bullet-js |
|                 (accessed 30-5-2018)                    |
###########################################################
*/

.bulletgraph-overview {
    border-style: groove;
    border-radius: 1px;
    padding: 5px;
    font-size: 13px;
}

.bulletgraph-overview .tick text {
    font-size: 6px;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 1.5px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .tick text { font-size: 5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure-label tspan {
    fill: white;
    font-weight: bold;
    font-size: 10px;
}

/* 
###############################################
|----------- Variables information -----------|
|  CSS of the variables of the instance(s).   |
###############################################
*/

.variableTextSmall {
    width: 130px;
    border: 1px solid transparent;
}

.variableTextSmall li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.variableTextFull {
    font-size: 10px;
    width: 150px;
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: white;
    border: 1px solid black;
}

.variableTextFull .dots {
    display: none;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.delete-process-button {
    color: #fff;
    background-color: #b5152b;
    border-color: #9e1226;
}

.datetime-box {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.total-count-box {
    display: inline-block;
}

.active-btn {
    width: 100px;
}

.counter-text {
    width: 60px;
}

/* 
#############################################
|----------- Options tab styling -----------|
|      CSS of the options tab styling       |
|   The code from the options tab is used   |
|               Codepen snippet:            |
| https://codepen.io/anon/pen/GGORKa?page=2 |
|            (accessed 21-6-2018)           |
#############################################
*/

input[switch] {
    display: none;
}

label {
    margin-bottom: 0;
    margin-right: 5px;
}

input[switch] + label {
    font-size: 1em;
    line-height: 1;
    width: 4rem;
    height: 2rem;
    background-color: #ddd;
    background-image: none;
    border-radius: 2rem;
    padding: 0.1666666667rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2) inset;
    font-family: inherit;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

input[switch] + label:before {
    text-transform: uppercase;
    color: #b7b7b7;
    content: attr(data-off-label);
    display: block;
    font-family: inherit;
    font-family: FontAwesome, inherit;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.74rem;
    position: absolute;
    right: 0.2166666667rem;
    margin: 0.2166666667rem;
    top: 0;
    text-align: center;
    min-width: 1.6666666667rem;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

input[switch] + label:after {
    content: '';
    position: absolute;
    left: 0.1666666667rem;
    background-color: #f7f7f7;
    box-shadow: none;
    border-radius: 2rem;
    height: 1.6666666667rem;
    width: 1.6666666667rem;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

input[switch]:checked + label {
    background-color: lightblue;
    background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.2));
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3) inset;
}

input[switch]:checked + label:before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 0.2166666667rem;
}

input[switch]:checked + label:after {
    left: 2.1666666667rem;
    background-color: #f7f7f7;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

input[switch="bool"] + label {
    background-color: #ee6562;
}

input[switch="bool"] + label:before {
    color: #fff;
}

input[switch="bool"]:checked + label {
    background-color: #BCE954;
}

input[switch="bool"]:checked + label:before {
    color: #fff;
}

/* Styling for the polling rate value */

.pollingRate {
    width: 8rem;
    padding: 0.3334rem;
}