.highlight-overlay-green {
    background-color: green; /* color elements as green */ 
    opacity: 0.4;
    pointer-events: none; /* no pointer events, allows clicking through onto the element */
    border-radius: 10px;
}

.highlight-overlay-red {
    background-color: red; /* color elements as green */ 
    opacity: 0.4;
    pointer-events: none; /* no pointer events, allows clicking through onto the element */
    border-radius: 10px;
}

.highlight-overlay-orange {
    background-color: orange; /* color elements as green */ 
    opacity: 0.4;
    pointer-events: none; /* no pointer events, allows clicking through onto the element */
    border-radius: 10px;
}

.option-box {
    display:inline-block;
    width:32%;
    vertical-align: top;
}

/* --Duration stuff-- */

.durationText {
    font-size: 9px;
    width: 70px;
}

.durationText ul {
    list-style-type: none;
    padding: 0 0 0 0;
}



/*  --Bulletgraph--  */
.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 1.5px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .tick text { font-size: 5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 {}
.bullet .measure-label tspan {
    fill: white;
    font-weight: bold;
    font-size: 10px;
}

/* -- Variables stuff -- */

.variableTextSmall {
    font-size: 7px;
    width: 130px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
}

.variableTextSmall ul {
    list-style-type: none;
    padding: 0 0 0 0;
    width: 100%;;
    margin-bottom: 5px;
}

.variableTextSmall > ul:last-child {
    margin-bottom: 0;
    /*content: '';
    position: absolute;
    width: 60%;
    height: 5px;*/
}

.variableTextSmall li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.variableTextSmall b {
    color: red;
}

.variableTextFull {
    font-size: 7px;
    width: 150px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow-y: scroll;
    background-color: white;
}

.variableTextFull ul {
    list-style-type: none;
    margin-left: 5px;
    padding: 0 0 0 0;
    margin-bottom: 5px;
    width: 100%;
}

.variableTextFull > ul:last-child {
    margin-bottom: 0;
    /*content: '';
    position: absolute;
    width: 60%;
    height: 5px;*/
}

.variableTextFull b {
    color: red;
}

.variableTextFull .dots {
    display: none;
}

.separator {
    height: 1em;
    border-left: 1px solid;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.delete-process-button {
    border-radius: 5px;
    border-color: red;
    float: right;
    background-color: red;
    margin-right: 20px;
    margin-top: -20px;
}