.custom-overlay {
    font-size: 8px;
    display: flex;
    flex-direction: column;
}

.custom-overlay ul {
    list-style-type: none;
    padding: 0 0 0 0;
    width: 100%;
}

.custom-overlay b {
    color: red;
}

.option-box {
    display:inline-block;
    width:32%;
    vertical-align: top;
}

/* --Duration stuff-- */

.durationText {
    font-size: 9px;
    width: 70px;
}

.durationText ul {
    list-style-type: none;
    padding: 0 0 0 0;
}

.overviewDurationText {
    width: 80px;
    font-size: 9px;
    border-style: groove;
    border-radius: 1px;
    padding: 5px;
    text-align: center;
}

.overviewDurationText ul {
    list-style-type: none;
    padding: 0 0 0 0;
}


/*  --Bulletgraph--  */
.bullet-duration-overview {
    border-style: groove;
    border-radius: 1px;
    padding: 5px;
}


.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 1.5px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .tick text { font-size: 5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 {}
.bullet .measure-label tspan {
    fill: white;
    font-weight: bold;
    font-size: 10px;
}

/* -- Variables stuff -- */

.variableTextSmall {
    font-size: 7px;
    width: 130px;
    border: 1px solid transparent;
}

.variableTextSmall ul {
    margin-bottom: 5px;
}

.variableTextSmall > ul:last-child {
    margin-bottom: 0;
}

.variableTextSmall li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.variableTextFull {
    width: 150px;
    max-height: 150px;
    border: 1px solid black;
    overflow-y: scroll;
    background-color: white;
}

.variableTextFull ul {
    margin-left: 5px;
    margin-bottom: 5px;
}

.variableTextFull > ul:last-child {
    margin-bottom: 0;
}

.variableTextFull .dots {
    display: none;
}

.separator {
    height: 1em;
    border-left: 1px solid;
}

.dot {
    height: 3px;
    width: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 4px;
}

.delete-process-button {
    color: #fff;
    background-color: #b5152b;
    border-color: #9e1226;
    /*float: right;*/
}

.datetime-box {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.total-count-box {
    display: inline-block;
}

.active-btn {
    width: 100px;
}

.counter-text {
    width: 60px;
}