<div>
  <h1>Process Instances per Definition</h1>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Key</th>
        <th>Name</th>
        <th>Instances</th>
        <th>Max Duration</th>
        <th>Max Frequency</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="count in processInstanceCounts">
        <td>{{ count.key }}</td>
        <td>{{ count.name }}</td>
        <td>{{ count.instanceCount }}</td>
        <td>{{ count.maxDuration }}</td>
        <td>{{ count.maxFrequency }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <h1>Process Activity Statistics</h1>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Absolute frequency</th>
      <th>Average duration</th>
      <th>Minimum duration</th>
      <th>Maximum duration</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="count in processActivityStatistics">
      <td>{{ count.name }}</td>
      <td>{{ count.absFrequency }}</td>
      <td>{{ count.avgDuration }}</td>
      <td>{{ count.minDuration }}</td>
      <td>{{ count.maxDuration }}</td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <h1>Instance Variables</h1>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Long</th>
      <th>Double</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="count in instanceVariables">
      <td>{{ count.name }}</td>
      <td>{{ count.type }}</td>
      <td>{{ count.long_ }}</td>
      <td>{{ count.double_ }}</td>
    </tbody>
  </table>
</div>
<div>
  <h1>Instance Start Time</h1>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
      <th>Execution ID</th>
      <th>Start Time</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="count in instanceStartTime">
      <td>{{ count.instanceId }}</td>
      <td>{{ count.activityId }}</td>
      <td>{{ count.startTime }}</td>
    </tbody>
  </table>
</div>